# requirements.txt 

Django==5.2.13
djangorestframework==3.17.1

mongoengine==0.29.1
pymongo==4.10.1

PyJWT==2.10.1
python-decouple==3.8
django-cors-headers==4.6.0

Pillow==11.1.0
requests==2.32.3
python-magic==0.4.27

drf-yasg==1.21.8
pyyaml==6.0.2
coreapi==2.3.3

python-dateutil==2.9.0
urllib3==2.3.0
certifi==2025.1.31

pytest==8.3.5
pytest-django==4.9.0
pytest-cov==6.0.0
coverage==7.6.12

geojson==3.2.0
shapely==2.0.7

django-debug-toolbar==4.4.6
redis==5.2.1
django-redis==5.4.0

gunicorn==23.0.0
whitenoise==6.9.0